header:after, nav:after, main:after, article:after, aside:after, section:after, footer:after, .cf:after {
  clear: both;
  content: '';
  display: table; }

html {
  font-size: 2.5vw; }
  @media (max-width: 320px) {
    html {
      font-size: 10px; } }
  @media (min-width: 900px) {
    html {
      font-size: 1.66667vw; } }
  @media (min-width: 1300px) {
    html {
      font-size: 21px; } }

body {
  color: #414042;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.16667; }

.tile__heading {
  color: #2c3e50;
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase; }

.tile__subheading {
  font-size: 1rem;
  font-weight: 300; }

a {
  color: inherit;
  text-decoration: none; }

*, *:after, *:before {
  box-sizing: border-box; }

html {
  min-width: 320px;
  overflow: scroll;
  text-rendering: optimizeLegibility; }

body {
  margin: 0; }

header, nav, main, article, aside, section, footer, .cf {
  position: relative; }

img {
  max-width: 100%; }

.body__wrap {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 1; }

.grid-tile {
  float: left;
  font-size: 1.125rem;
  position: relative;
  width: 50%; }
  @media (min-width: 900px) {
    .grid-tile {
      width: 33.33333%; } }
  @media (min-width: 1200px) {
    .grid-tile {
      width: 25%; } }
  @media (min-width: 1500px) {
    .grid-tile {
      width: 20%; } }

.grid-tile:before {
  content: '';
  display: block;
  padding-top: 150%; }

.wrap__grid-tile_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0; }
  .wrap__grid-tile_content img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    height: 100%;
    opacity: 1;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
    width: 100%; }
  .wrap__grid-tile_content .grid-tile_content {
    opacity: 0;
    padding: 2.5rem;
    position: absolute;
    text-align: left;
    top: 33%;
    -webkit-transition: opacity 1s ease;
            transition: opacity 1s ease;
    width: 100%; }

.wrap__grid-tile_content:hover img {
  -webkit-filter: grayscale(0.2);
          filter: grayscale(0.2);
  opacity: .3;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); }
.wrap__grid-tile_content:hover .grid-tile_content {
  opacity: 1; }

.header {
  background: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 2.5rem;
  position: fixed;
  width: 100%;
  z-index: 99999; }

.header--sentinal {
  position: static !important; }

.wrap__modal {
  background-color: rgba(50, 50, 50, 0.9);
  color: #fff;
  display: block;
  font-family: sans-serif;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999999; }

.modal {
  display: table;
  height: 100vh;
  margin: auto; }

.inner__modal {
  display: table-cell;
  margin: auto;
  position: relative;
  vertical-align: middle;
  width: 80vw; }

.modal__close {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  right: -18px;
  top: -27px; }

.wrap__iframe {
  position: relative; }
  .wrap__iframe:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .wrap__iframe iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
