<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fresh Tomatoes!</title>
  <meta name="description" content="Fresh Tomatoes | Movie Trailer Website">
  <link rel='stylesheet'
        href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="body__wrap">

    <div class="wrap_header">
      <header id="header" class="header">
        <nav class="nav">
          <a class="logo" href="/">Fresh Tomatoes</a>
        </nav>
      </header>

      <div class="header header--sentinal">&nbsp;</div>
    </div>

    <main class="main grid cf">
      <div id="movies" class="movies cf">
        {movie_tiles}
      </div>
    </main>

  </div>

  <script src="/js/app.js"></script>
</body>
</html>
