*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  overflow: scroll;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

header,
nav,
main,
article,
aside,
section,
footer,
.cf {
  @extend %cf;
  position: relative;
}

img {
  max-width: 100%;
}

.hidden,
[aria-hidden=true] {
  display: none !important;
  visibility: hidden;
}

////////////////////////////////////////////////////////////////////////////////

.body__wrap {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.body__main {
  margin: auto;
  overflow: hidden;
}
