.header {
  background: #fff;
  font-size: rem(16px);
  font-weight: 500;
  padding: 20px rem(40px);
  position: fixed;
  width: 100%;
  z-index: 99999;

  a {
    display: inline-block;
    line-height: 16px;
    padding: 22px;
    text-decoration: none !important;
  }
}

.header--sentinal {
  position: static !important;
}

.nav {
  position: absolute;
  right: 0;
  top: 0;

  li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    padding: 38px rem(40px) 38px 0;
  }
}
